html {
    background-image: url(https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95bd34713.png);
    background-size: 100%;
    background-attachment: fixed;
}
body{
    margin-top: 0;
    margin-left: 0;
}
#home {
    background-color: lightskyblue;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    top: 5px;
    z-index: +2;
}
#home:hover {
    cursor: pointer;
    font-weight: bold;
}
#boards {
    background-color: lightskyblue;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    top: 5px;
    z-index: +2;
}
#boards:hover {
    cursor: pointer;
    font-weight: bold;
}
#tralala {
    text-align: center;
    position: relative;
    bottom: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: +2;
}
#name {
    position: relative;
    top: 5px;
}
#plus {
    position: relative;
    bottom: 75px;
    left: 1500px;
    z-index: +2;
}
#plus:hover {
    cursor: pointer;
}
#user {
    position: relative;
    bottom: 75px;
    left: 1450px;
    z-index: +2;
}
#user:hover {
    cursor: pointer;
}
#lists {
    display: flex;
    flex-wrap: nowrap;
}
.list{
    height: 100%;
    background-color: lightgray;
    margin: 30px;
    border-radius: 5px;
    padding: 5px;
    min-width: 270px;
}
li {
    background-color: white;
    padding: 1px;
    margin-top: 5px;
    margin-right: 15px;
    padding-left: 5px;
    width: 200px;
    border-radius: 5px;
}
.ui {
    height: 100vh;
    display: grid;
    overflow-x: scroll;
}
footer:hover{
    font-weight: bold;
    cursor: pointer;
}
footer {
    margin-right: 20px;
}
header {
    font-weight: bold;
}
.fa-edit {
    opacity: 0.1;
}
.fa-edit:hover {
    opacity: 1;
}
